.footer {
    width: 100%;
    height: 200px;
    background: #502e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px;
  }
  
  .socials svg {
    color: #fff1e4;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: #fff1e4;
  }
  
  @media only screen and (max-width: 960px) {
    .footer svg {
      font-size: 50px;
    }
  }