.home {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #182e91;
  }
  
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #fff1e4;
    color: #502e7e;
    font-size: 20px;
  }
  
  .about h2 {
    font-size: 64px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about h3 {
    font-size: 32px;
    height: auto;
  }
  
  .about .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
  }

  .about .flex-container .flex-child {
    flex: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 35vw;
    height: auto;
    display: block;
    margin-top: 20px;
    align-items: center;
  }

  .about .flex-container .flex-child .image {
    max-width: 35vw;
  }

  .about .flex-container .flex-child .socials svg {
    flex-direction: row;
    font-size: 60px;
    margin: 5px;
    color:#502e7e;
    margin-top: 20px;
    align-items: center;
  }

  .about .flex-container .flex-child .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

 /* Make socials buttons change color when hovered and ease into color transition*/
  .about .flex-container .flex-child .socials svg:hover {
    color: #a157e7;
    transition: color 0.3s ease;
  }

  /* And make the color change ease back when not hovering anymore */
  .about .flex-container .flex-child .socials svg:not(:hover) {
    color: #502e7e;
    transition: color 0.3s ease;
  }
  
  @media only screen and (max-width: 960px) {
    .about .flex-container {
      flex-direction: column; /* Stack flex items vertically */
  }
  
    .about .flex-container .flex-child {
      margin-right: 0; /* Remove margin between text and image */
      width: 80vw;
  }
    .about .flex-container .flex-child .image {
      max-width: 80vw;
  }
}