.home {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #182e91;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff1e4;
    color: #502e7e;
  }
  
  .about h2 {
    font-size: 80px;
    height: 20%;
  }
  
  .about .description {
    width: 60%;
    font-size: 18px;
  }
  .description svg {
    font-size: 60px;
    margin: 5px;
    color:#502e7e;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .description {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }