.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #fff1e4;
    color: #502e7e;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  
  .home h2 {
    font-size: 64px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .home h3 {
    font-size: 32px;
    height: auto;
  }
  
  .home .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
  }

  .home .flex-container .flex-child {
    flex: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 35vw;
    height: auto;
    display: block;
    margin-top: 20px;
    align-items: center;
  }

  .home .flex-container .flex-child .image {
    max-width: 35vw;
    border-radius: 15px;
    /* Add a visible white border around the image */
    border: 5px solid #fff1e4;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .home .flex-container .flex-child .socials svg {
    flex-direction: row;
    font-size: 60px;
    margin: 5px;
    color:#502e7e;
    margin-top: 20px;
    align-items: center;
  }

  .home .flex-container .flex-child .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

 /* Make socials buttons change color when hovered and ease into color transition*/
  .home .flex-container .flex-child .socials svg:hover {
    color: #a157e7;
    transition: color 0.3s ease;
  }

  /* And make the color change ease back when not hovering anymore */
  .home .flex-container .flex-child .socials svg:not(:hover) {
    color: #502e7e;
    transition: color 0.3s ease;
  }
  
  @media only screen and (max-width: 960px) {
  .home {
    font-size: 16px;
  }
  .home h2 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  .home h3 {
    font-size: 24px;
    height: auto;
  }
    .home .flex-container {
      flex-direction: column; /* Stack flex items vertically */
      margin-top: 0px;
  }
  
    .home .flex-container .flex-child {
      margin-right: 0; /* Remove margin between text and image */
      width: 80vw;
  }
    .home .flex-container .flex-child .image {
      max-width: 80vw;
  }
}

#about-me.flex-container {
    gap: 3vw; /* Adjust as needed */
}