.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff1e4;
    color: #502e7e;
  }
  .projects h1 {
    text-align: center;
    font-size: 60px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .projectList {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */

  .projectItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    margin: 40px;
    border: 5px solid #fff1e4;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #502e7e;
    color: #fff1e4;
  }

  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color:#a157e7;
  }

  /* And make the color change ease back when not hovering anymore */
  .projectItem:not(:hover) {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in;
    background-color: #502e7e;
  }

  .projectItem .image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 400px;
    max-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 5px solid #fff1e4; */
    border-right: 5px solid #fff1e4;
    border-left: 5px solid #fff1e4;
    /* border-bottom: 5px solid #fff1e4; */
  }
  .projectItem .projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    width: 400px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  @media only screen and (max-width: 1400px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .projects h1 {
      font-size: 36px;
      margin-top: 20px;
    }
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;
      height: 250px;
      margin: 15px;
    }
    .projectItem .image {
      width: 300px;
    }
    .projectItem .projectTitle {
      width: 300px;
      font-size: 20px;
    }
  }