.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff1e4;
    background-color: #502e7e;
    text-align: left;
    font-size: 20px;
    padding-bottom: 30px;
}

.work h2 {
    font-size: 48px;
    height: auto;
    margin-top: 40px;
}

.work h3 {
    font-size: 32px;
    height: auto;
}

.work .flex-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    align-items: center;
    margin-top: 25px;
}

/* If flex-container id is northrop, text-align=right*/
.work #right {
    text-align: right;
}

.work #left {
    text-align: left;
}

.work .flex-container .flex-child {
    flex: 1;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 33vw;
    height: auto;
    display: block;
    margin-top: 20px;
    align-items: center;
}

.work .flex-container .flex-child .image {
    max-width: 33vw;
    border-radius: 15px;
    /* Add a visible white border around the image */
    border: 5px solid #fff1e4;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    
}

.work .flex-container .flex-child p {
    margin-top: 10px;
}

.work .flex-container .flex-child ul {
    margin-top: 10px;
    text-align: left;
    list-style-type: square;
}

.work .flex-container .flex-child li {
    margin-top: 10px;
}

@media only screen and (max-width: 960px) {
    .work {
        font-size: 16px;
    }
    .work h2 {
        font-size: 36px;
    }
    
    .work h3 {
        font-size: 24px;
    }
    .work .flex-container {
        flex-direction: column; /* Stack flex items vertically */
    }

    .work #right {
        flex-direction: column-reverse;
        text-align: left;
    }
  
    .work .flex-container .flex-child {
        margin-right: 0; /* Remove margin between text and image */
        margin-left: 0;
        width: 80vw;
    }

    .work .flex-container .flex-child ul {
        text-align: justify;
    }
    .work .flex-container .flex-child .image {
        max-width: 80vw;
    }
}
