* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Orbitron';
  text-align: center;
  background-color: #fff1e4;;
}

/*Make all <p> text into AR One Sans 500" */
p {
  font-family: 'AR One';
  font-weight: 500;
  font-size: large;
}